body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f3f3;
}

.container {
    text-align: center;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
